---
import "@styles/global.css";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import MultiDate from "@components/MultiDate.astro";
import Card from "@components/Card.astro";
import Date from "@components/Date.astro";

const allEducation = await getCollection("education");
const allCerts = await getCollection("certs");
allEducation.sort(
  (a, b) => b.data.beginDate.getTime() - a.data.beginDate.getTime()
);
allCerts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout title="Education">
  <main class="main">
    <header>
      <h1>Education and Certificates</h1>
    </header>
    <h2 class="text-xl"><strong>Education</strong></h2>
    {
      allEducation.map((education) => {
        const title = education.data.title;
        const beginDate = education.data.beginDate;
        const endDate = education.data.endDate;
        const location = education.data.location;
        const degree = education.data.degree;

        return (
          <div>
            <Card href={`/education/${education.slug}`} title={title}>
              <article>
                <MultiDate firstDate={beginDate} secondDate={endDate} />
                <br />
                {location}
                <br />
                {degree}
              </article>
            </Card>
          </div>
        );
      })
    }
    <h2 class="text-xl"><strong>Certifications</strong></h2>
    {
      allCerts.map((cert) => {
        const title = cert.data.title;
        const date = cert.data.date;

        return (
          <div>
            <Card href={`/certs/${cert.slug}`} title={title}>
              <Date date={date} />
            </Card>
          </div>
        );
      })
    }
  </main>
</Layout>
